<style>
  input[type = text] {
     width: 10%;
     padding: 5px 5px;
     margin: 4px 0;
     box-sizing: border-box;
  }
</style>
<form [formGroup]="projectForm" style="text-align:center" [formGroup]="projectForm" (ngSubmit)="onSubmit(projectForm.value)" > 

<div>
  <label for="firstname">firstname </label>
  <input type="text" id="firstname" name="firstname" formControlName="firstname">
</div>
<div *ngIf="projectForm.controls['firstname'].touched || projectForm.controls['firstname'].dirty">
  <div *ngIf="projectForm.controls['firstname'].errors && projectForm.controls['firstname'].errors['pattern']" 
  [ngClass] = "'error'"> Please enter only alphabets(max:20 chars).
  </div>
  </div>
<div>
  <label for="lastname">Lastname </label>
  <input type="text" id="lastname" name="lastname" formControlName="lastname">
</div>
<div *ngIf="projectForm.controls['lastname'].touched || projectForm.controls['lastname'].dirty">
  <div *ngIf="projectForm.controls['lastname'].errors && projectForm.controls['lastname'].errors['pattern']" 
  [ngClass] = "'error'"> Please enter only alphabets(max:20 chars).
  </div>
  </div>
<div>
  <label for="address">Address </label>
  <input type="text" id="address" name="address" formControlName="address">
</div>

<div>
  <label for="city">City </label>
  <input type="text" id="city" name="city" formControlName="city">
</div>

<div *ngIf="projectForm.get('postalcode')?.dirty && 
projectForm.errors?.['incorrectPostalCode']"> 
  Incorrect PostalCode</div>
  
  <label for="postalcode">Postalcode </label>
  <input type="text" id="postalcode" name="postalcode" formControlName="postalcode">

<div>
  <label for="country">Country </label>
  <select id="country" name="country"  formControlName="country">
   <option value="US" >US</option>
   <option value="CANADA" >Canada</option>
 
  </select>
</div>

<div>
    <label for="card">Card </label>
    <select id="card" name="card"  formControlName="card">
     <option value="VISA" >VISA</option>
     <option value="MASTER" >MASTERCARD</option>
   
    </select>
  </div>

  <div>
    <label for="cardnumber">Card number </label>
    <input type="text" id="cardnumber" name="cardnumber" formControlName="cardnumber" placeholder="Maximom is 16 Digits"
    appMydirective [maxChars] = 16 
    [frmCtrl] = "projectForm.get('cardnumber')">
  </div>
  <div *ngIf="projectForm.controls['cardnumber'].touched || projectForm.controls['cardnumber'].dirty">
    <div *ngIf="projectForm.controls['cardnumber'].errors && projectForm.controls['cardnumber'].errors['pattern']" 
    [ngClass] = "'error'"> Please enter the valid cardnumber
    </div>
    </div>

  <div>
    <label for="nameoncard">Holder name </label>
    <input type="text" id="nameoncard" name="nameoncard" formControlName="nameoncard">
  </div>

<div>
  <label for="expiry">Expir </label>
  <input type="text" id="expiry" name="expiry" formControlName="expiry" placeholder="MM/YYYY"
  appMydirective [maxChars] = 7  [frmCtrl] = "projectForm.get('expiry')">
</div>


  <div>
    <label >CVC 
    <input type="text" formControlName="cvc" appMydirective [maxChars] = 4 placeholder="MAX : 4 DIGITS"
    [frmCtrl] = "projectForm.get('cvc')">
    </label>
  </div>

  <div *ngIf="projectForm.controls['cvc'].touched || projectForm.controls['cvc'].dirty">
  <div *ngIf="projectForm.controls['cvc'].errors && projectForm.controls['cvc'].errors['pattern']" 
  [ngClass] = "'error'"> Please enter the valid CVC
  </div>
  </div>

  <div><label>GRAND TOTAL:
<input type="text" formControlName="grand_total" [ngModel]="calculateTotal()" >
  </label></div>
  <button mat-button  [disabled]="!projectForm.valid">Submit</button>
  <div>
    {{projectForm.valid}}
    <p>projectForm value: {{ projectForm.value | json }}</p>
  </div>

</form>